
{% extends "calculator/base.html" %}


{% block content %}
<div class="app-header">
    <h1>Calcula a lo Madridista</h1>
    <h2>Calcula como siempre o por el número de Champions del Madrid</h2>
    <i class="fa-solid fa-trophy fa-8x"></i>
</div>
<div class="calculator-container">
    <input id="top-bar" type="text" class="top-bar" disabled>
    <div class="calculator-buttons">
        <button id="clear" class="button clear">C</button>
        <button id="pos-neg" class="button pos-neg">+/-</button>
        <button id="percent" class="button">%</button>
        <button id="divide" class="button operator">&divide;</button>
        <button id="seven" class="button" value="7">7</button>
        <button id="eight" class="button" value="8">8</button>
        <button id="nine" class="button" value="9">9</button>
        <button id="multiply" class="button operator">&times;</button>
        <button id="four" class="button" value="4">4</button>
        <button id="five" class="button" value="5">5</button>
        <button id="six" class="button" value="6">6</button>
        <button id="minus" class="button operator">&minus;</button>
        <button id="one" class="button" value="1">1</button>
        <button id="two" class="button" value="2">2</button>
        <button id="three" class="button" value="3">3</button>
        <button id="add" class="button operator">&plus;</button>
        <button id="zero" class="button"  value="0">0</button>
        <button id="comma" class="button">,</button>
        <button id="champions" class="button champions" value="14"><i class="fa-solid fa-trophy"></i></button>
        <button id="equals" class="button">=</button>
    </div>
</div>

<script src="https://ajax.googleapis.com/ajax/libs/jquery/2.1.1/jquery.min.js"></script>

<script>
    $("button").click(function () {
        var firedButton = $(this).val();
        
        console.log(firedButton);

        document.getElementById('top-bar').value = firedButton;


    });
</script>
{% endblock content %}